:root {

    /* color */
    --very-dark-grey: hsl(0, 0%, 41%);
    --dark-grey: hsl(0, 0%, 55%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
  
    /* typography */
    --ff-josefin-sans: "Josefin Sans", sans-serif;
    --ff-alata: "Alata", sans-serif;
    --fs-h1: 4.7rem;
    --fs-h2: 3.2rem;
    --fs-h3: 2.4rem;
    --fs-regular: 15px;
    --fw-300: 300;
    --fw-100: 100;
  
    /* spacing */
    --px: 165px; /* padding left & padding right */
    --mb: 180px; /* margin bottom */
  }
  